<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/site.css">
    <title>error</title>
  </head>
  <body>
    <p>{{error}}</p>
  </body>
    <footer>
      <a href="http://localhost:3000/" > Make another Search</a>
  </footer>
</html>
